.App {
  min-height: 100vh !important;
}

.footer-navbar {
  display: flex !important;
  flex-direction: column !important;
}

.social-media {
  display: flex;
  justify-content: first baseline;
  width: fit-content;
}

.social-media a {
  margin-right: 2rem !important;
}

.footer-container .navbar-nav {
  display: flex !important;
  flex-direction: column !important;
}

.menu-btn {
  display: none !important;
}

.navbar-nav .btn {
  padding: 0.25rem 0.55rem;
}

.off-menu {
  text-align: center;
}

.off-menu .nav-link {
  padding-bottom: 2rem;
}

.profesional img {
  height: 200px;
  width: 200px;
}

.intro-caption {
  width: 55%;
  line-height: 2rem;
}

.intro {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.intro-form {
  width: 35%;
}

.intro-form form {
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.topbar {
  padding: 1rem 0;
}

.top-light {
  border-bottom: 1px solid gray;
}

.bot-light {
  border-top: 1px solid gray;
}

.intro-links {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.intro-links a {
  margin: 1rem 0;
  width: 45%;
}

.reason-container {
  display: flex;
  /* align-items: center; */
}

.reason-item .card {
  margin: 1rem;
  /* min-height: 35%; */
}

.reason {
  padding: 2rem 0;
}

/* media query for responsiveness */

@media screen and (max-width: 600px) {
  .container {
    margin: 0 !important;
    padding: 0 !important;
  }

  .footer-container .navbar-nav {
    display: flex !important;
    flex-direction: row !important;
    margin: 1rem auto !important;
    text-align: center !important;
  }

  .footer-container .navbar-nav .nav-link {
    padding: 0 0.5rem !important;
  }

  .footer-brand {
    text-align: center !important;
  }

  .to-be-hid {
    display: none !important;
  }

  .menu-btn {
    display: initial !important;
  }

  .just-links {
    display: none !important;
  }

  .intro {
    flex-direction: column;
    justify-content: space-around;
  }

  .intro-caption {
    width: auto;
    text-align: center;
  }

  .intro-form {
    width: auto;
    margin-top: 2rem;
  }

  .social-media {
    justify-content: space-evenly;
    margin: auto;
  }

  .intro-links {
    align-items: center;
  }

  .reason-container {
    flex-wrap: wrap;
  }
}
