.top-links {
  margin-right: 1rem !important;
}

.contact-links,
.contact-link {
  display: flex !important;
  align-items: center !important;
  height: fit-content !important;
}

.footer {
  margin: auto !important;
  padding: 2rem 0;
}

.intro-banner {
  background-image: url("../assets/banner9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  min-height: 95vh;
}

.banner-title {
  font-size: 60px !important;
}

.banner-title {
  width: 50% !important;
}

.banner-container {
  padding: 8rem 0 0 0 !important;
}

.banner-container .btn {
  margin-right: 2rem;
}

.load-and-error {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-and-error img,
.load-and-error h1 {
  width: fit-content;
  margin: auto;
}

.bg-custom {
  background-color: #dfdbe5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.22' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

@media screen and (max-width: 600px) {
  .intro-banner {
    background-size: cover;
    padding: 1rem;
  }

  .banner-container {
    padding: 0 !important;
  }

  .row {
    flex-wrap: wrap !important;
  }

  .col-auto,
  .col-4 {
    width: 100% !important;
    margin: 0.5rem 0;
  }

  .to-hide {
    display: none !important;
  }
}
